.title {
  margin: 0;
  margin-bottom: 19px;
  text-align: center;
  font: var(--font-body-secondTitle);
  color: var(--color-text-body);
}

@media only screen and (min-width: 600px) {
  .title {
    margin-bottom: 98px;
    margin-left: 7%;
    text-align: left;
  }
}
