.container {
  display: flex;
  height: 124px;
  background-color: var(--color-button-dropdown);
  justify-content: space-between;
  align-items: center;
}

.icons {
  margin-left: 12%;
}

.iconsMobile {
  margin: 0;
}

.images {
  height: 124px;
  width: 450px;
  margin-right: 2%;
}

.scooter {
  width: 141px;
  height: 153px;
  padding-right: 39px;
  transform: translateY(-200px);
}

.robot {
  width: 112px;
  transform: translateY(-73%);
}

.notepad {
  transform: translateY(-115%);
  padding-left: 8px;
}

@media only screen and (max-width: 700px) {
  .images {
    width: 380px;
  }

  .scooter {
    width: 120px;
    transform: translateY(-90%);
  }

  .robot {
    width: 90px;
  }

  .notepad {
    width: 110px;
  }
}
