.logo {
  width: 100%;
}

.mainText {
  margin-top: 20vh;
  width: 34%;
  padding-right: 15%;
}

.header {
  margin: 0;
  font: var(--font-header);
  font-size: 30px;
  color: var(--color-text-body);
}

.boldText {
  font: var(--font-header);
  font-size: 20px;
  color: var(--color-text-body);
}

.bodyText {
  font: var(--font-text-body);
  color: var(--color-text-body);
}
