.innerContainer {
  display: flex;
}
.container {
  width: 100%;
  height: max-content;
  background: url('../assets/header-background.svg') center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top 40px;
  position: relative;
}

.image {
  width: 50%;
  transform: translateY(-130px);
  padding-bottom: 10vw;
}

.mainText {
  width: 34%;
  padding-right: 15%;
}

.scrollDown {
  position: absolute;
  left: 40%;
  right: 40%;
  top: calc(32vw + 320px);
  transition: opacity ease-in-out 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollDownText {
  text-align: center;
  font: 600 18px Barlow;
  margin: 0;
  margin-bottom: 10px;
  color: var(--color-text-body);
}

.mobileContainer {
  background-image: url('../assets/header-background.svg');
  background-size: cover;
  background-position: top;
}

.navBarMobile {
  position: absolute;
  right: 0;
}

.imageMobile {
  padding-top: 29px;
  margin-left: 7%;
  margin-right: 13%;
  width: 78%;
}

.imageBackground {
  background-color: var(--color-background-primary);
}

@media only screen and (max-width: 1020px) {
  .scrollDown {
    display: none;
  }
}
