.container {
  margin-left: 14%;
  margin-right: 18%;
  padding-top: 73px;
  padding-bottom: 45%;
}

.title {
  margin: 0;
  font: var(--font-body-heading);
  color: var(--color-text-white);
}

.bodyText {
  margin: 0;
  margin-bottom: 23px;
  font: var(--font-text-body);
  color: var(--color-text-white);
}

.btnText {
  margin: 0;
  font: var(--font-text-btn);
  color: var(--color-text-white);
}

.btnContainer {
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #89aff0;
  border: 1px solid var(--color-text-white);
}

.clearLinks {
  border: none;
  text-decoration: none;
}

@media only screen and (min-width: 900px) {
  .container {
    margin-left: 66%;
    margin-right: 5%;
    padding-top: 116px;
    padding-bottom: 134px;
  }
}
