.container {
  padding: 33px 25px 50px 22px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-text-white);
}

.date {
  text-align: center;
}

.date h1,
.date h2 {
  font: var(--font-upcomingEvent-date);
  margin: 0;
}

.date h2 {
  font-size: 20px;
}

.divider {
  height: 65px;
  background: var(--color-text-white);
  border-left: 1px solid;
  margin: 0 20px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
}

.detailsContainerMobile {
  margin-left: 10px;
}

.title {
  font-size: 30px;
  font-weight: 800;
  margin: 0;
}

.details {
  display: flex;
  align-items: center;
  margin-top: 4px;
  white-space: nowrap;
}

.details * {
  margin: 0 5px;
}

.location {
  font: var(--font-notes-body);
  color: var(--color-text-white);
}

.time {
  font: var(--font-notes-body);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  color: var(--color-text-white);
  margin-top: 20px;
}

.eventLinkButton {
  width: 100%;
  border: solid;
  border-width: 1px;
  color: var(--color-text-white);
  text-decoration: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 25px 0 0;
  padding: 7px 0;
}

.eventLinkButton + .eventLinkButton {
  /* All the links after the first one. */
  margin-top: 5px;
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 50px 42px 70px 34px;
  }

  .divider {
    height: 100px;
  }

  .title {
    white-space: normal;
  }

  .eventLinkButton {
    margin: 0;
    padding: 12px 0;
  }

  .eventLinkButton + .eventLinkButton {
    /* All the links after the first one. */
    margin-top: 10px;
  }
}
