.masonryContainer {
    columns: 3;
    column-gap: 16px;
}

@media only screen and (max-width: 1200px) {
    .masonryContainer {
        columns: 2;
    }
}

@media only screen and (max-width: 600px) {
    .masonryContainer {
        columns: 1;
    }
}

.masonryItem {
    break-inside:avoid;
    margin-bottom: 16px;
}